body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
}

.box {
    flex: 1 1 auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}


/* Шапка сайта */

.header {
    flex: 0 0 auto;
    background-color: lightgrey;
    padding-bottom: 10px;
}

.header_signature {
    display: block;
    text-align: right;
}

.header_title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #0000ff;
}
  
/* Контент */
.main {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 220px;
}

input {
    max-width: 220px;
    height: 40px;
}

.printButton {
    margin-left: auto;
    display: block;
    height: 40px;
}

.manual_list>li:nth-child(n + 1) {
    margin-top: 5px;
    min-width: 100%;
}

.fat {
    font-weight: bold;
}

#preview, .header {
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
}

#preview {
    justify-content: space-between;
}

.table {
    width: 32%;
    display: block;
    margin: 3px;
    border: 1px #000000 solid;
}

.table > tbody > tr:nth-of-type(2n) {
    background-color:#CCCCCC;
}

/* Подвал */

.footer {
    flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
  }
  
.footer_signature {
    display: block;
    text-align: center;
}


@media screen and (min-width: 640px) and (max-width: 1023px) {

    .table {
        width: 48%;
    }
}

@media screen and (max-width: 639px) {

    body {
        font-size: 12px;
    }

    .table {
        min-width: 100%;
    }

    .printButton {
        width: 100%;
        display: block;
    }
}